<div class="navbar-wagon">

  <div></div>

  <h1 class="page-title">
    <%= link_to cocktails_path do %>
      <%= image_tag('cocktail.svg') %>
      Drink up!
    <% end %>
  </h1>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= link_to new_cocktail_path(@cocktail) do %>
      <i class="fas fa-plus"></i><i class="fas fa-wine-glass-alt"></i> New cocktail
    <% end %>
  </div>

</div>
